.list-main-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width:25%;
  min-width: 350px;
  overflow-y: scroll;
}
.list-header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
}
.list-wrapper{
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.list-item-wrapper{
  display: flex;
  border-bottom: 1px solid #E8E8E8;
  justify-content: center;
  cursor: pointer;
}
.list-item-wrapper:first-child{
  background: #1E253214;
}
.list-item{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  width: 90%; 
  height: 102px;
}
.user-info-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin-left: 17px;
}
.user-title-wrapper{
  display: flex;
  justify-content: space-between;
}
.user-name{
  /* font-weight: 500; */
  font-weight: bold;
}
.user-online{
  border-radius: 10px;
  background: #16C607;
  width: 52px;
  height: 22px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.last-message{
  display: flex;
}
 
 
 